In [1]:
import numpy as np

In [2]:

import pandas as pd

In [3]:
order=pd.read_excel("Company X - Order Report.xlsx")
pincode=pd.read_excel("Company X - Pincode Zones.xlsx")
product=pd.read_excel("Company X - SKU Master.xlsx")
invoice=pd.read_excel("Courier Company - Invoice.xlsx")
rates=pd.read_excel("Courier Company - Rates.xlsx")

In [4]:
order.head(1)

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0

In [5]:
pincode.head(1)

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d

In [6]:
product.head(1)

             SKU  Weight (g)
0  8904223815682         210

In [7]:
rates.head(1)

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.5,29.5,23.6,13.6,23.6

In [8]:
invoice.head(1)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0

In [9]:
order.drop_duplicates(inplace=True)
product.drop_duplicates(inplace=True)
pincode.drop_duplicates(inplace=True)
invoice.drop_duplicates(inplace=True)
rates.drop_duplicates(inplace=True)

In [10]:
pd.merge(product,order,on="SKU",how = "inner")

               SKU  Weight (g)  ExternOrderNo  Order Qty
0    8904223815682         210     2001808801        1.0
1    8904223815859         165     2001820978        1.0
2    8904223815859         165     2001811363        1.0
3    8904223815859         165     2001808801        1.0
4    8904223815859         165     2001808675        1.0
..             ...         ...            ...        ...
393  8904223819512         210     2001806733        1.0
394  8904223819543         300     2001811306        1.0
395     SACHETS001          10     2001827036        1.0
396     SACHETS001          10     2001825261        1.0
397     SACHETS001          10     2001819252        1.0

[398 rows x 4 columns]

In [11]:
rates["Zone"]= rates["Zone"].str.lower()

In [12]:
comp=pd.merge(
    pd.merge(
        invoice,pd.merge(
            pincode,rates,on="Zone",how="inner"),
        on="Customer Pincode",how="inner"),
    pd.merge(
        product,order,on="SKU",how = "inner"),
    left_on="Order ID",right_on="ExternOrderNo",how="inner")

In [13]:
comp

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Weight (g),ExternOrderNo,Order Qty
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818645,137,2001806232,6.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223819147,240,2001806232,2.0
2,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818706,127,2001806273,1.0
3,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818850,240,2001806273,1.0
4,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818942,133,2001806273,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,1091117614452,2001809383,0.5,121003,303702,d,Forward and RTO charges,86.7,121003,b,1.0,33.0,28.3,20.5,28.3,8904223818706,127,2001809383,1.0
394,1091117614452,2001809383,0.5,121003,303702,d,Forward and RTO charges,86.7,121003,b,1.0,33.0,28.3,20.5,28.3,8904223818850,240,2001809383,1.0
395,1091117614452,2001809383,0.5,121003,303702,d,Forward and RTO charges,86.7,121003,b,1.0,33.0,28.3,20.5,28.3,8904223819468,240,2001809383,1.0
396,1091120922803,2001820978,0.5,121003,313301,d,Forward charges,45.4,121003,b,1.0,33.0,28.3,20.5,28.3,8904223815859,165,2001820978,1.0
397,1091120922803,2001820978,0.5,121003,313301,d,Forward charges,45.4,121003,b,1.0,33.0,28.3,20.5,28.3,8904223817501,350,2001820978,1.0

In [14]:
comp["Actual Weight(KG)"]= (comp["Weight (g)"]*comp["Order Qty"])/1000

In [15]:
awb_data=comp.groupby("AWB Code").agg({"Order ID":"first","Charged Weight":"first","Warehouse Pincode_x":"first",
                             "Customer Pincode":"first","Type of Shipment":"first",
                              "Billing Amount (Rs.)":"first","Zone_y":"first","Weight Slabs":"first",
                              "Forward Fixed Charge":"first","Forward Additional Weight Slab Charge":"first",
                              "RTO Fixed Charge":"first","RTO Additional Weight Slab Charge":"first",
                              "SKU":"count","Order Qty":"sum","Actual Weight(KG)":"sum" })

In [16]:
awb_data["Slab_count"]= np.ceil(awb_data["Actual Weight(KG)"]/awb_data["Weight Slabs"])

In [17]:
def actual_price(x):
    if x["Type of Shipment"]=="Forward charges":
        return x["Slab_count"]*x["Forward Additional Weight Slab Charge"]+x["Forward Fixed Charge"]
    elif x["Type of Shipment"]=="Forward and RTO charges" :
        return (x["Slab_count"]*x["Forward Additional Weight Slab Charge"]+x["Forward Fixed Charge"]
               )+(x["Slab_count"]*x["RTO Additional Weight Slab Charge"]+x["RTO Fixed Charge"])
    else:
        return "Error"

In [18]:
awb_data["Actual_Price"]=awb_data.apply(lambda x: actual_price(x),axis=1)

In [19]:
awb_data["Acutal vs invoice"]= awb_data["Actual_Price"]-awb_data["Billing Amount (Rs.)"]

In [20]:
awb_data["Actual vs invoice"]=awb_data["Acutal vs invoice"].astype(int)

In [21]:
def finds(x):
    if x["Actual vs invoice"]<0:
        return "Total Orders where X has been undercharged	"
    elif x["Actual vs invoice"]==0:
        return "Total orders where X has been correctly charged"
    else:
        return "Total Orders where X has been overcharged"

In [22]:
awb_data["Status"] = awb_data.apply(lambda x: finds(x),axis=1)

In [23]:
awb=awb_data.groupby("Status").agg({"Order ID":"count","Actual vs invoice":"sum"})

In [24]:
awb

                                                 Order ID  Actual vs invoice
Status
Total Orders where X has been overcharged              34                920
Total Orders where X has been undercharged\t           63              -3663
Total orders where X has been correctly charged        27                  0

In [25]:
920-3663

-2743

In [26]:
2743/124

22.120967741935484

In [27]:
int(list(awb_data.groupby("Status").agg({"Order ID":"count","Actual vs invoice":"sum"}).values[1:2,1:2])[0])

C:\Users\lenovo\AppData\Local\Temp\ipykernel_16780\3683019163.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  int(list(awb_data.groupby("Status").agg({"Order ID":"count","Actual vs invoice":"sum"}).values[1:2,1:2])[0])

-3663

In [28]:
awb.to_excel('Summary.xlsx')